<!DOCTYPE html>
<html>
<head>
  <title>Event Reminder</title>
</head>
<body>
  <h1>Event Reminder</h1>
  <p>Hi <%= @user.email %>,</p>
  <p>Don't forget about the upcoming event: "<%= @event.name %>"!</p>
</body>
</html>